@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
* {
  font-family: 'Poppins', sans-serif;
}
:root{
    --green-color :#3BB143;
    --dark-green: #032F3C;
}


.container{
  @apply mx-auto sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1200px] px-6 md:px-0
}

button {
  @apply transition hover:scale-105 active:scale-100 w-fit font-semibold px-6 py-2
}
.btn-primary {
    @apply hover:bg-[#339041] bg-[var(--green-color)] rounded-md text-sm text-white 
}
.btn-choise{
  @apply text-black text-lg flex justify-center items-center bg-white rounded-md m-auto w-[90%]
}
.btn-choise span{
  @apply text-3xl mr-5
}
.or {
  @apply w-full text-center relative my-10 font-semibold text-xl
}
.or::before{
  @apply content-[''] h-[2px] w-[40%] bg-[var(--green-color)] absolute left-0 top-3.5
}
.or::after{
  @apply content-[''] h-[2px] w-[40%] bg-[var(--green-color)] absolute right-0 top-3.5
}
.sign {
  @apply w-full h-screen flex
}
.sign .cover{
  @apply w-full md:w-2/5 h-full bg-cover bg-center bg-no-repeat 
}

.sign form {
  @apply flex justify-center items-center w-full
}
.sign .form{
  @apply bg-[#1a1a1ac3] md:bg-[var(--dark-green)] w-full h-full absolute md:relative md:w-3/5 z-10
  flex justify-center items-center text-white
}
.sign .form .content {
  @apply w-[90%] md:w-[70%] lg:w-[60%] xl:w-[45%] p-8
}
.grp {
  @apply flex flex-col text-black relative my-10
}
.grp label{
  @apply text-white mb-2
}
.grp input, .grp select, .grp textarea{
  @apply outline-none ring-0 p-2 rounded-md pl-12
}
.grp span {
  @apply absolute left-3 top-10
}


.dashboard {
  @apply w-full h-screen flex
}
.dashboard nav {
  @apply w-14 md:w-56 border-r-[1px] shadow-lg bg-[var(--dark-green)] text-white
}
.dashboard nav a span{
  @apply mr-2
}
.dashboard nav a h5 {
  @apply hidden md:block
}
.dashboard nav a{
  @apply flex relative items-center p-3 my-4 first-of-type:mt-10
}
.dashboard nav a.active::before{
  @apply content-[''] w-1 h-full bg-[var(--green-color)] left-0 top-0 absolute rounded-tr-md rounded-br-md
}