@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
* {
  font-family: 'Poppins', sans-serif;
}
:root{
    --green-color :#3BB143;
}



.btn-primary {
    @apply hover:bg-[#339041] transition hover:scale-105 bg-[var(--green-color)] w-fit 
    font-semibold px-6 py-2 rounded-md text-sm text-white active:scale-100
}

section.contact input,
.auth input,
section.contact textarea,
section.contact select{
  @apply w-full border-2 border-solid border-gray-300 px-4 py-2 rounded-md dark:bg-slate-700
}

section.contact input:invalid:focus ~ span.err,
section.contact textarea:invalid:focus ~ span.err{
  @apply block 
}
section.contact input:invalid:focus,
section.contact textarea:invalid:focus{
  @apply outline-red-800 
}
section.contact input:valid:focus,
section.contact textarea:valid:focus{
  @apply outline-green-800 
}
section.contact select,
section.contact input[type='text']{
  @apply capitalize
}
section.contact select option{
  @apply capitalize
}



.title{
    @apply text-3xl p-6
}
.button{
    background-color: var(--green-color);
    @apply  text-white font-bold py-2 px-4 rounded
}
.input{
    color: var(--green-color);
    border: 2 solid var(--green-color);
    @apply   px-4 rounded-md focus:outline-none  my-5 h-9  
}
.drop-down{
    @apply font-bold py-2 pr-14 rounded w-[300px]
}
.agro{
    color: var(--green-color);
    @apply text-4xl 
}